@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i,900,900i');

$baseFont: 'Roboto', sans-serif;

@mixin aStyling() {
    color: black;
    text-decoration: none;
    font-family: $baseFont;
}

a {
    @include aStyling;
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    width: 100%;
    
    nav {
        width: 70%;
        margin: 0 auto;
        padding: 15px 0px;
        overflow: hidden;
        
        div:nth-child(1) {
            float: left;
        }
        
        div:nth-child(2) {
            float: right;
            
            a {
                padding: 0px 10px;
            }
        }
    }
    
    #imageContainer {
        background-image: url(img/jumbotronbackground.jpg);
        background-size: 100%;
        background-position: 0% 27%;
        background-repeat: no-repeat;
        
        div {
            width: 70%;
            margin: 0 auto;
            padding: 80px 0px;
            
            h1 {
                font-family: $baseFont;
                font-size: 40px;
                margin-bottom: 20px;
            }
            
            p {
                font-family: $baseFont;
                font-size: 20px;
            }
        }
    }
}

.hej {
    width: 70%;
    padding: 40px 0px;
    margin: 0 auto;
    display: flex;
    
    article {
        flex: 1;
        
        img {
            height: 250px;
            width: 100%;
            margin-bottom: 20px;
        }
        
        h2 {
            font-family: $baseFont;
            font-size: 30px;
            margin-bottom: 15px;
        }
        
        p {
            font-family: $baseFont;
            margin-bottom: 15px;
        }
        
        button{
            background-color: white;
            padding: 3px 8px;
            border: 1px solid grey;
            border-radius: 4px;
        }
    }
    
    article:nth-child(2) {
        padding: 0px 20px;
    }
}

footer{
    font-family: $baseFont;
    text-align: center;
    
}